<div class="ls-navigation">
  <div class="close-div">
    <button type="button" id="closeBut" class="btn-close ls-close-but" aria-label="Close"></button>
  </div>
  {{#if isAuthorised.user}}
  <div class="buttons-div">
    <button type="button" id="makeOrder" class="btn btn-link icons-links"><img class="ls-icons"
        src="/img/icons8-purchase-order-64.png" alt="">
      Заказать</button>
    <button type="button" id="ordersBut" class="btn btn-link icons-links"><img class="ls-icons"
        src="/img/icons8-shopping-bag-64.png" alt=""> Мои
      заказы</button>
    <button type="button" id="finance" class="btn btn-link icons-links"><img class="ls-icons"
        src="/img/icons8-money-64.png" alt="">Мои
      финансы</button>
    <button type="button" id="support" class="btn btn-link icons-links"><img class="ls-icons"
        src="/img/icons8-headset-64.png" alt="">Поддержка</button>
    <button type="button" id="profileBut" class="btn btn-link icons-links"><img class="ls-icons"
        src="/img/icons8-male-user-64.png" alt="">Профиль</button>
    <button type="button" id="faq" class="btn btn-link icons-links"><img class="ls-icons" src="/img/icons8-faq-64.png"
        alt="">Полезное</button>
  </div>
  {{/if}}
    {{#if isAuthorised.manager}}
        <div class="buttons-div">
            <button type="button" id="ordersBut" class="btn btn-link icons-links"><img class="ls-icons"
                                                                                       src="/img/icons8-shopping-bag-64.png" alt=""> Мои
                заказы</button>
            <button type="button" id="finance" class="btn btn-link icons-links"><img class="ls-icons"
                                                                                     src="/img/icons8-money-64.png" alt="">Мои
                финансы</button>
            <button type="button" id="support" class="btn btn-link icons-links"><img class="ls-icons"
                                                                                     src="/img/icons8-headset-64.png" alt="">Поддержка</button>
            <button type="button" id="profileBut" class="btn btn-link icons-links"><img class="ls-icons"
                                                                                        src="/img/icons8-male-user-64.png" alt="">Профиль</button>
            <button type="button" id="faq" class="btn btn-link icons-links"><img class="ls-icons" src="/img/icons8-faq-64.png"
                                                                                 alt="">Полезное</button>
        </div>
    {{/if}}
    {{#if isAuthorised.admin}}
        <div class="buttons-div">
            <button type="button" id="support" class="btn btn-link icons-links"><img class="ls-icons"
                                                                                     src="/img/icons8-headset-64.png" alt="">Поддержка</button>
            <button type="button" id="profileBut" class="btn btn-link icons-links"><img class="ls-icons"
                                                                                        src="/img/icons8-male-user-64.png" alt="">Профиль</button>
            <button type="button" id="faq" class="btn btn-link icons-links"><img class="ls-icons" src="/img/icons8-faq-64.png"
                                                                                 alt="">Полезное</button>
        </div>
    {{/if}}
  {{#if isAuthorised.user}}
  <div class="manager-div">
    {{#if isAuthorised.managerId}}
        <div>Ваш Менеджер</div>
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width:50%;height:50%" alt="">
    {{else}}
        <img src="/img/icons8-manager-100.png" alt="">
    {{/if}}
    {{#if isAuthorised.managerId}}
    <div>{{isAuthorised.managerFirstName}} {{isAuthorised.managerLastName}}</div>
    <div>{{isAuthorised.managerEmail}}</div>
        {{#if isAuthorised.managerOnline}}
            <button type="button" class="btn btn-success">Online</button>
        {{else}}
            <button type="button" class="btn btn-danger">Offline</button>
        {{/if}}
    {{else}}
    <div>Менеджер</div>
    {{/if}}
  </div>
  {{/if}}
  <div class="footer-div">
    <div>Ознакомиться с договором</div>
    <div class="social-icons">
      <button type="button" id="twitter" class="btn btn-link social-links"><img class="ls-social-icons"
          src="/img/icons8-twitter-100.png" alt=""></button>
      <button type="button" id="inst" class="btn btn-link social-links"><img class="ls-social-icons"
          src="/img/icons8-instagram-100.png" alt=""></button>
      <button type="button" id="faceb" class="btn btn-link social-links"><img class="ls-social-icons"
          src="/img/icons8-facebook-100.png" alt=""></button>
      <button type="button" id="whatsapp" class="btn btn-link social-links"><img class="ls-social-icons"
          src="/img/icons8-whatsapp-100.png" alt=""></button>
    </div>
    <div>8-952-334-44-48</div>
  </div>
</div>
<script defer src="/js/sidebar.js"></script>