{{#if allOrders}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Вид работы</th>
      <th scope="col">Предмет</th>
      <th scope="col">Объем работы</th>
      <th scope="col">Описание</th>
      <th scope="col">Менеджер</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата создания</th>
      {{#if isAuthorised.manager}}
      <th scope="col" id="actions">Действия</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each allOrders}}
    <tr>
      <th scope="row" id="product-row" data-orderId="{{this.id}}">{{this.Product.title}}</th>
      <td>{{this.Tag.title}}</td>
      <td>{{this.scopeOfWork}}</td>
      <td>{{this.description}}</td>
      <td>{{this.UserManager.User.firstName}}
        {{this.UserManager.User.lastName}}<br>{{this.UserManager.User.email}}<br>{{this.UserManager.User.phoneNumber}}
      </td>
      <td class="status-table">{{this.Status.title}}</td>
      <td>{{this.createdAt}}</td>
      {{#if ../isAuthorised.manager}}
      <td><button id="success-btn" data-orderId="{{this.id}}" data-type="confirm" type="button" class="btn btn-success"
          style="margin-bottom: 5px;">Подтвердить</button><button data-type="cancel" data-orderId="{{this.id}}"
          id="cancel-btn" type="button" class="btn btn-danger">Отклонить</button></td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<h1>У вас еще нет заказов</h1>
{{/if}}

<script defer src="/js/orderList.js"></script>