<div class="card-container container">
  {{#each this.allTickets}}
  <div id="id{{this.id}}">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.statusId}}</h6>
        <p class="card-text">{{this.description}}
        </p>
        <button type="button" data-type="edit" class="btn btn-light edit" name={{this.id}}>Ответить</button>
        <button type="button" data-type="delete" class="btn btn-light delete" name={{this.id}}>Удалить</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<script defer src="js/TicketFormEdit.js"></script>